/* GroupBegin Global */
body:before {
  content: "640";
}

.show640 {
  display: block;
}

.hide640 {
  display: none;
}

.ui-spn .ui-column-one-third {
  width: auto !important;
  float: none !important;
}

.ui-column-one.region {
  width: auto;
  clear: none;
}

.ui-column-one-quarter.region {
  width: auto;
  float: none;
}

.ui-column-one-half.region {
  width: auto;
  float: none;
}

.ui-column-one-third.region {
  width: auto;
  float: none;
}

.ui-column-two-thirds.region {
  width: auto;
  float: none;
}

.region.right {
  float: none;
}

/* GroupEnd */
/* GroupBegin Header */
/* GroupEnd */
/* GroupBegin Footer */
/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
/* GroupEnd */
/* GroupBegin Subpage */
/* GroupEnd */