/* GroupBegin Global */
body:before {
  content: "768";
}

.cs-mystart-button,
.cs-mystart-dropdown,
#gb-channel-bar {
  display: none;
}

.cs-mystart-dropdown.user-options.mobile {
  display: block;
  position: relative;
}

.ui-column-one-quarter.region {
  width: 50%;
  float: left;
  clear: left;
}

.ui-column-one-third.region {
  width: 50%;
  float: left;
}

.ui-column-two-thirds.region {
  width: 50%;
  float: left;
}

.region.right {
  float: left;
}

.region.clearleft {
  clear: none;
}

.cs-global-icons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cs-global-icons li {
  width: 33.3333%;
  display: block;
  margin-bottom: 18px;
}
.cs-global-icons a {
  display: block;
  text-align: center;
}
.cs-global-icons .text {
  text-align: center;
  padding: 5px 10px;
}
.cs-global-icons .icon {
  min-height: 70px;
  margin-bottom: 10px;
}

/* GroupEnd */
/* GroupBegin Header */
#rs-menu-btn {
  color: #fff;
  height: 70px;
  width: 119px;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.13rem;
}
#rs-menu-btn::before {
  position: absolute;
  padding: 0;
  right: 8px;
  top: 26px;
  font-size: 21px;
  background: transparent;
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e906";
}

/* GroupEnd */
/* GroupBegin Footer */
.footer-row.one .content-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-row.one .content-wrap .footer-column {
  width: 50%;
  text-align: center;
  padding: 50px 30px 20px 30px;
}
.footer-row.one .content-wrap .footer-column.one {
  width: 100%;
}
.footer-row.one .content-wrap .footer-column.two::before {
  display: none;
}
.footer-row.one .content-wrap .footer-column.two, .footer-row.one .content-wrap .footer-column.three {
  padding-top: 0;
  padding-bottom: 38px;
}
.footer-row.one .content-wrap .footer-column.three::before {
  bottom: auto;
  top: 16px;
}
.footer-row.one .content-wrap .footer-column.four {
  display: none;
}
.footer-row.two {
  padding-bottom: 52px;
}
.footer-row.two .content-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-bottom: 14px;
}
.footer-row.two .footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-row.two .footer-button {
  margin: 0 5px;
}
.footer-row.two::before {
  left: 50px;
  width: calc(100% - 100px);
}
.footer-row.two .footer-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-row.two .footer-link {
  margin: 0 10px;
}
.footer-row.two #gb-social {
  margin: 5px 0 0;
}
.footer-row.three .content-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.footer-row.three .footer-column.one {
  padding: 33px 0 4px;
}
.footer-row.three .footer-column.two {
  padding: 0;
}
.footer-row.three .footer-column.two::before {
  display: none;
}
.footer-row.three .gb-bb-footer.links ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-row.three .gb-bb-footer.links ul li:nth-child(2) a::after {
  display: none;
}
.footer-row.three .gb-bb-footer.links ul li:last-child {
  margin-top: -9px;
  width: 100%;
}
.footer-row.three .gb-bb-footer.logo {
  margin-left: 0;
}
.footer-row.three #gb-bb-footer {
  max-width: 413px;
}

/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
#hp-slideshow-outer {
  overflow: visible;
}

#hp-slideshow-outer #hp-slideshow .cs-mmg-control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -24px;
  right: 40px;
}
#hp-slideshow-outer #hp-slideshow .cs-mmg-control-wrapper .mmg-control {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  margin: 0 6px;
}
#hp-slideshow-outer #hp-slideshow .cs-mmg-control-wrapper .mmg-control.next {
  right: auto;
}

.hp-row.three {
  padding-bottom: 50px;
}
.hp-row.three .content-wrap {
  padding: 0px 48px;
}
.hp-row.three .upcomingevents {
  display: block;
}
.hp-row.three .upcomingevents div.ui-widget-header {
  padding: 0px 0px 8px 0px;
}
.hp-row.three .upcomingevents div.ui-widget-header .view-calendar-link {
  margin-top: 20px;
}
.hp-row.three .upcomingevents .cs-article-slider-control-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: auto;
  bottom: 11px;
  height: auto;
  right: -4px;
}
.hp-row.three .cs-article-slider {
  margin: 0 -12px;
}
.hp-row.three #sw-content-container1 .app .cs-article-slider-control {
  margin: 0px 6px;
}

.hp-row.four .column-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  padding: 47px 50px;
  background: #fff;
}
.hp-row.four .column-wrap .hp-column {
  width: 100%;
  margin: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.hp-row.five {
  padding-bottom: 0;
}
.hp-row.five .content-wrap {
  padding: 0;
}
.hp-row.five .column-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hp-row.five .collage-column.one {
  width: 100%;
  padding: 46px 47px 26px;
}
.hp-row.five .collage-column.one h2 {
  font-size: 2.4rem;
}
.hp-row.five .collage-column.one p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 36px;
}
.hp-row.five .collage-column #collage-logo {
  padding-top: 0px;
  margin-right: -27px;
  margin-top: -17px;
}
.hp-row.five .collage-column #collage-logo img {
  width: 160px !important;
  height: auto !important;
}
.hp-row.five .collage-column.two {
  width: 100%;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hp-row.five .collage-column.two a {
  height: auto;
  font-size: 1.66rem;
  width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 28px;
  min-height: 129px;
  letter-spacing: -0.3px;
  margin: 0;
}
.hp-row.five .collage-column.two a span {
  padding-right: 25px;
}
.hp-row.five .collage-column.two a span::after {
  font-size: 22px;
  top: calc(50% - 12px);
}

/* GroupEnd */
/* GroupBegin Subpage */
#sp-content .sp-column {
  float: none;
  width: 100%;
  max-width: none;
}
#sp-content .sp-column.one {
  padding: 40px;
}
#sp-content .sp-column.one .ui-widget-header {
  position: relative;
  cursor: pointer;
}
#sp-content .sp-column.one .ui-widget-header::after {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e902";
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 18px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#sp-content .sp-column.one .open .ui-widget-header::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#sp-content .sp-column.two {
  padding: 40px 15px;
}
#sp-content .sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout] {
  width: 100%;
}
#sp-content .sp-column.two div.ui-widget.app {
  padding: 0px 25px;
  margin-bottom: 30px;
}

.sp-row.two .content-wrap::before {
  display: none;
}

/* GroupEnd */