<div id="gb-page" class="hp [$SiteAlias$]">
	<header id="gb-header">
		<section class="header-row one">
			<div class="cs-mystart-button quickfind">
				<div class="cs-button-selector" role="button" tabindex="0" aria-label="Quick Find" aria-expanded="false" aria-haspopup="true" aria-controls="quickfind">Quick Find</div>
			</div>
			<nav id="gb-channel-bar" class="content-wrap">
				[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
			</nav>
			<div class="cs-mystart-dropdown user-options">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Members Login' role="button" aria-expanded="false" aria-haspopup="true"><span>Members Login</span></div>
				<div class="cs-dropdown" aria-hidden="true" style="display:none;">
					<ul class="cs-dropdown-list"></ul>
				</div>
			</div>
		</section>
		<section class="header-row two">
			<div class="content-wrap">
				<div id="gb-logo"></div>
			</div>
			<div class="cs-mystart-dropdown translate">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Translate' role="button" aria-expanded="false" aria-haspopup="true">Translate</div>
					<div class="cs-dropdown" aria-hidden="true" style="display:none;">
				</div>
			</div>
		</section>
	</header>
	<main id="hp-content" data-event-background-opacity='<SWCtrl controlname="Custom" props="Name:upcomingEventsBackgroundColorOpacity" />'>
		<section class="hp-row one" id="hp-slideshow-outer">
			<div id="hp-slideshow">
				[$ContentRegion props="ContainerNumber:10"$]
			</div>
		</section>
		<section class="hp-row two" id="gb-icons" data-icon-num='<SWCtrl controlname="Custom" props="Name:numOfIcons" />'>
			<div class="content-wrap"></div>
		</section>
		<section class="hp-row three">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:1"$]
			</div>
		</section>
		<section class="hp-row four">
			<div class="content-wrap">
				<div class="column-wrap">
					<div class="hp-column one">[$ContentRegion props="ContainerNumber:2"$]</div>
					<div class="hp-column two">[$ContentRegion props="ContainerNumber:3"$]</div>
					<div class="hp-column three">[$ContentRegion props="ContainerNumber:4"$]</div>
				</div>
			</div>
		</section>
		<section id="hp-collage" class="hp-row five">
			<div class="content-wrap">
				<div class="column-wrap">
					<div class="collage-column one">
						<h2><SWCtrl controlname="Custom" props="Name:collageTitle1" />:</h2>
						<p><SWCtrl controlname="Custom" props="Name:collageDescription1" /></p>
						<h2><SWCtrl controlname="Custom" props="Name:collageTitle2" />:</h2>
						<p><SWCtrl controlname="Custom" props="Name:collageDescription2" /></p>
						<div id="collage-logo"></div>
					</div>
					<div class="collage-column two">
						<a class="collage-link one" href='<SWCtrl controlname="Custom" props="Name:collageLink1Url" />' target='<SWCtrl controlname="Custom" props="Name:collageLink1Target" />'><span><SWCtrl controlname="Custom" props="Name:collageLink1Text" /></span></a>
						<a class="collage-link two" href='<SWCtrl controlname="Custom" props="Name:collageLink2Url" />' target='<SWCtrl controlname="Custom" props="Name:collageLink2Target" />'><span><SWCtrl controlname="Custom" props="Name:collageLink2Text" /></span></a>
						<a class="collage-link three" href='<SWCtrl controlname="Custom" props="Name:collageLink3Url" />' target='<SWCtrl controlname="Custom" props="Name:collageLink3Target" />'><span><SWCtrl controlname="Custom" props="Name:collageLink3Text" /></span></a>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer id="gb-footer">
		<section class="footer-row one">
			<div class="content-wrap">
				<div class="footer-column one">
					<h2>Headquarters</h2>
					<p>
						<SWCtrl controlname="Custom" props="Name:footerAddress1Line1" /><br/>
						<SWCtrl controlname="Custom" props="Name:footerAddress1Line2" /><br/>
						<span data-content='<SWCtrl controlname="Custom" props="Name:footerAddress1Phone" />'>phone: <SWCtrl controlname="Custom" props="Name:footerAddress1Phone" /><br/></span>
						<span data-content='<SWCtrl controlname="Custom" props="Name:footerAddress1Fax" />'>fax: <SWCtrl controlname="Custom" props="Name:footerAddress1Fax" /></span>
					</p>
				</div>
				<div class="footer-column two">
					<p>
						<SWCtrl controlname="Custom" props="Name:footerAddress2Line1" /><br/>
						<SWCtrl controlname="Custom" props="Name:footerAddress2Line2" /><br/>
						<span data-content='<SWCtrl controlname="Custom" props="Name:footerAddress2Phone" />'>phone: <SWCtrl controlname="Custom" props="Name:footerAddress2Phone" /><br/></span>
						<span data-content='<SWCtrl controlname="Custom" props="Name:footerAddress2Fax" />'>fax: <SWCtrl controlname="Custom" props="Name:footerAddress2Fax" /></span>
					</p>
				</div>
				<div class="footer-column three">
					<p>
						<SWCtrl controlname="Custom" props="Name:footerAddress3Line1" /><br/>
						<SWCtrl controlname="Custom" props="Name:footerAddress3Line2" /><br/>
						<span data-content='<SWCtrl controlname="Custom" props="Name:footerAddress3Phone" />'>phone: <SWCtrl controlname="Custom" props="Name:footerAddress3Phone" /><br/></span>
						<span data-content='<SWCtrl controlname="Custom" props="Name:footerAddress3Fax" />'>fax: <SWCtrl controlname="Custom" props="Name:footerAddress3Fax" /></span>
					</p>
				</div>
				<div class="footer-column four">
					<a class="footer-button" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
						<span>Site Map</span>
					</a>
					<div class="footer-button to-top" role="button" tabindex="0">
						<span>Top</span>
					</div>
				</div>
			</div>
		</section>
		<section class="footer-row two">
			<div class="content-wrap">
				<div id="gb-social"></div>
				<ul class="footer-links">
					<li><a class="footer-link" href='<SWCtrl controlname="Custom" props="Name:footerLink1Url" />' target='<SWCtrl controlname="Custom" props="Name:footerLink1Target" />' data-content='<SWCtrl controlname="Custom" props="Name:footerLink1Text" />'><SWCtrl controlname="Custom" props="Name:footerLink1Text" /></a></li>
					<li><a class="footer-link" href='<SWCtrl controlname="Custom" props="Name:footerLink2Url" />' target='<SWCtrl controlname="Custom" props="Name:footerLink2Target" />' data-content='<SWCtrl controlname="Custom" props="Name:footerLink2Text" />'><SWCtrl controlname="Custom" props="Name:footerLink2Text" /></a></li>
					<li><a class="footer-link" href='<SWCtrl controlname="Custom" props="Name:footerLink3Url" />' target='<SWCtrl controlname="Custom" props="Name:footerLink3Target" />' data-content='<SWCtrl controlname="Custom" props="Name:footerLink3Text" />'><SWCtrl controlname="Custom" props="Name:footerLink3Text" /></a></li>
					<li><a class="footer-link" href='<SWCtrl controlname="Custom" props="Name:footerLink4Url" />' target='<SWCtrl controlname="Custom" props="Name:footerLink4Target" />' data-content='<SWCtrl controlname="Custom" props="Name:footerLink4Text" />'><SWCtrl controlname="Custom" props="Name:footerLink4Text" /></a></li>
					<li><a class="footer-link" href='<SWCtrl controlname="Custom" props="Name:footerLink5Url" />' target='<SWCtrl controlname="Custom" props="Name:footerLink5Target" />' data-content='<SWCtrl controlname="Custom" props="Name:footerLink5Text" />'><SWCtrl controlname="Custom" props="Name:footerLink5Text" /></a></li>
					<li><a class="footer-link" href='<SWCtrl controlname="Custom" props="Name:footerLink6Url" />' target='<SWCtrl controlname="Custom" props="Name:footerLink6Target" />' data-content='<SWCtrl controlname="Custom" props="Name:footerLink6Text" />'><SWCtrl controlname="Custom" props="Name:footerLink6Text" /></a></li>
					<li><a class="footer-link" href='<SWCtrl controlname="Custom" props="Name:footerLink7Url" />' target='<SWCtrl controlname="Custom" props="Name:footerLink7Target" />' data-content='<SWCtrl controlname="Custom" props="Name:footerLink7Text" />'><SWCtrl controlname="Custom" props="Name:footerLink7Text" /></a></li>
				</ul>
			</div>
			<div class="footer-column four mobile">
				<a class="footer-button" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
					<span>Site Map</span>
				</a>
				<div class="footer-button to-top" role="button" tabindex="0">
					<span>Top</span>
				</div>
			</div>
		</section>
		<section class="footer-row three">
			<div class="content-wrap">
				<div class="footer-column one">
					<div id="gb-bb-footer" class="ui-clear">
						<div class="gb-bb-footer logo"></div>
						<div id="gb-schoolwires-footer-links-copyright">
							<div class="gb-bb-footer links ui-clear"></div>
							<div class="gb-bb-footer copyright"></div>
						</div>
					</div>
				</div>
				<div class="footer-column two" data-content='<SWCtrl controlname="Custom" props="Name:footerDisclaimerText" />'>
					<p><SWCtrl controlname="Custom" props="Name:footerDisclaimerText" /></p>
				</div>
			</div>
		</section>
	</footer>
	<section class="quickfind-container" id="quickfind" aria-hidden="true">
		<div class="cs-mystart-button quickfind-close">
			<div class="cs-button-selector" role="button" tabindex="0" aria-label="Close Quick Find" aria-expanded="false" aria-haspopup="true" aria-controls="quickfind">Close</div>
		</div>
		<div id="quickfind-items" class="content-wrap"></div>
	</section>
</div>
