<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="//extend.schoolwires.com/creative/scripts/creative/tools/creative-icons-v4/css/creativeIcons.v4.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="//extend.schoolwires.com/creative/scripts/creative/global/css/cs.global.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="//fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/global/js/cs.global.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/head.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/creative-icons-v4/creativeIcons.v4.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/responsive/creative-responsive-menu-v3/creative.responsive.menu.v3.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/joel/mod-events/joel.mod-events.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/creative-translate/creative.translate.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/responsive/creative-app-accordion/creative.app.accordion.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/responsive/creative-article-slider/cs.article.slider.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/tcw-upgrade/cs.tcw.upgrade.min.js"></script>
<script type="text/javascript" src="//extend.schoolwires.com/creative/subscription_library/tools/cs.contrast.bar.min.js"></script>


<script type="text/javascript">/******/ (function() { // webpackBootstrap
$(window).on("load", function () {
  CreativeTemplate.WindowLoad();
});
$(function () {
  CreativeTemplate.Init();
});
var CreativeTemplate = {
  // PROPERTIES
  "KeyCodes": {
    "tab": 9,
    "enter": 13,
    "esc": 27,
    "space": 32,
    "end": 35,
    "home": 36,
    "left": 37,
    "up": 38,
    "right": 39,
    "down": 40
  },
  "IsMyViewPage": false,
  // UPDATES IN SetTemplateProps METHOD
  "ShowTranslate": true,
  // METHODS
  "Init": function Init() {
    // FOR SCOPE
    var _this = this;

    csGlobalJs.OpenInNewWindowWarning();
    this.SetTemplateProps();
    this.MyStart();
    this.HighContrast();
    this.JsMediaQueries();
    this.Translate();
    this.Header();
    this.QuickFind();
    this.RsMenu();
    this.ChannelBar();
    this.StickyChannelBar();
    this.ModEvents();

    if ($("#gb-page.hp").length) {
      this.Slideshow();
      this.Homepage();
    }

    this.Body();
    this.GlobalIcons();
    this.SocialIcons();
    this.AppAccordion();
    this.Footer();
    $(window).resize(function () {
      _this.WindowResize();
    });
    $(window).scroll(function () {
      _this.WindowScroll();
    });
  },
  "HighContrast": function HighContrast() {
    $.csHighContrastBar({
      "show": true,
      "alternateLogo": {
        "selector": "",
        // ID OR CLASS OF DEFAULT LOGO <img>
        "src": "",
        // ALTERNATE LOGO SRC
        "alt": "" // ALTERNATE LOGO ALT TEXT

      },
      "toggle": function toggle(on) {
        $("#gb-page").attr("data-contrast-bar", true);
      } // CUSTOM CALLBACK WHEN CONTRAST IS TOGGLED (ALSO FIRES ON DOC READY) - on PARAMETER IS EITHER true OR false (boolean)

    });
  },
  "SetTemplateProps": function SetTemplateProps() {
    // MYVIEW PAGE CHECK
    if ($("#pw-body").length) this.IsMyViewPage = true;
  },
  "WindowLoad": function WindowLoad() {
    //SETUP PAGE HEADER
    if ($(".sp").length) {
      // if($("#sw-content-layout-wrapper").css("background-image") != "none"){ //THERE IS A HEADER BANNER IMAGE
      //     var imgURL = $("#sw-content-layout-wrapper").css("background-image");
      //     $(".header-row.three").css("background-image",imgURL).addClass("has-bg-img");
      // }
      //REMOVE THIS IN STYLER
      var imgURL = 'src/template/assets/defaults/sp-background.jpg';
      $(".header-row.three").css("background-image", "url('" + imgURL + "')").addClass("has-bg-img");
    }
  },
  "WindowResize": function WindowResize() {
    this.JsMediaQueries();
  },
  "WindowScroll": function WindowScroll() {},
  "JsMediaQueries": function JsMediaQueries() {
    switch (this.GetBreakPoint()) {
      case "desktop":
        break;

      case "768":
        break;

      case "640":
        break;

      case "480":
        break;

      case "320":
        break;
    }
  },
  "MyStart": function MyStart() {
    // FOR SCOPE
    var _this = this; // BUILD USER OPTIONS DROPDOWN


    var userOptionsItems = ""; // SIGNIN BUTTON

    if ($(".sw-mystart-button.signin").length) {
      userOptionsItems += "<li>" + $(".sw-mystart-button.signin").html() + "</li>";
    } // REGISTER BUTTON


    if ($(".sw-mystart-button.register").length) {
      userOptionsItems += "<li>" + $(".sw-mystart-button.register").html() + "</li>";
    } // ADD USER OPTIONS DROPDOWN TO THE DOM


    $(".cs-mystart-dropdown.user-options .cs-dropdown-list").html(userOptionsItems); // BIND DROPDOWN EVENTS

    this.DropdownActions({
      "dropdownParent": ".cs-mystart-dropdown.user-options",
      "dropdownSelector": ".cs-dropdown-selector",
      "dropdown": ".cs-dropdown",
      "dropdownList": ".cs-dropdown-list"
    });
  },
  "Translate": function Translate() {
    // ADD TRANSLATE
    if (this.ShowTranslate) {
      $(".cs-mystart-dropdown.translate .cs-dropdown").creativeTranslate({
        "type": 2,
        // 1 = FRAMESET, 2 = BRANDED, 3 = API
        "languages": [// ["ENGLISH LANGUAGE NAME", "TRANSLATED LANGUAGE NAME", "LANGUAGE CODE"]
        ["Afrikaans", "Afrikaans", "af"], ["Albanian", "shqiptar", "sq"], ["Amharic", "አማርኛ", "am"], ["Arabic", "العربية", "ar"], ["Armenian", "հայերեն", "hy"], ["Azerbaijani", "Azərbaycan", "az"], ["Basque", "Euskal", "eu"], ["Belarusian", "Беларуская", "be"], ["Bengali", "বাঙালি", "bn"], ["Bosnian", "bosanski", "bs"], ["Bulgarian", "български", "bg"], ["Burmese", "မြန်မာ", "my"], ["Catalan", "català", "ca"], ["Cebuano", "Cebuano", "ceb"], ["Chichewa", "Chichewa", "ny"], ["Chinese Simplified", "简体中文", "zh-CN"], ["Chinese Traditional", "中國傳統的", "zh-TW"], ["Corsican", "Corsu", "co"], ["Croatian", "hrvatski", "hr"], ["Czech", "čeština", "cs"], ["Danish", "dansk", "da"], ["Dutch", "Nederlands", "nl"], ["Esperanto", "esperanto", "eo"], ["Estonian", "eesti", "et"], ["Filipino", "Pilipino", "tl"], ["Finnish", "suomalainen", "fi"], ["French", "français", "fr"], ["Galician", "galego", "gl"], ["Georgian", "ქართული", "ka"], ["German", "Deutsche", "de"], ["Greek", "ελληνικά", "el"], ["Gujarati", "ગુજરાતી", "gu"], ["Haitian Creole", "kreyòl ayisyen", "ht"], ["Hausa", "Hausa", "ha"], ["Hawaiian", "ʻŌlelo Hawaiʻi", "haw"], ["Hebrew", "עִברִית", "iw"], ["Hindi", "हिंदी", "hi"], ["Hmong", "Hmong", "hmn"], ["Hungarian", "Magyar", "hu"], ["Icelandic", "Íslenska", "is"], ["Igbo", "Igbo", "ig"], ["Indonesian", "bahasa Indonesia", "id"], ["Irish", "Gaeilge", "ga"], ["Italian", "italiano", "it"], ["Japanese", "日本語", "ja"], ["Javanese", "Jawa", "jw"], ["Kannada", "ಕನ್ನಡ", "kn"], ["Kazakh", "Қазақ", "kk"], ["Khmer", "ភាសាខ្មែរ", "km"], ["Korean", "한국어", "ko"], ["Kurdish", "Kurdî", "ku"], ["Kyrgyz", "Кыргызча", "ky"], ["Lao", "ລາວ", "lo"], ["Latin", "Latinae", "la"], ["Latvian", "Latvijas", "lv"], ["Lithuanian", "Lietuvos", "lt"], ["Luxembourgish", "lëtzebuergesch", "lb"], ["Macedonian", "Македонски", "mk"], ["Malagasy", "Malagasy", "mg"], ["Malay", "Malay", "ms"], ["Malayalam", "മലയാളം", "ml"], ["Maltese", "Malti", "mt"], ["Maori", "Maori", "mi"], ["Marathi", "मराठी", "mr"], ["Mongolian", "Монгол", "mn"], ["Myanmar", "မြန်မာ", "my"], ["Nepali", "नेपाली", "ne"], ["Norwegian", "norsk", "no"], ["Nyanja", "madambwe", "ny"], ["Pashto", "پښتو", "ps"], ["Persian", "فارسی", "fa"], ["Polish", "Polskie", "pl"], ["Portuguese", "português", "pt"], ["Punjabi", "ਪੰਜਾਬੀ ਦੇ", "pa"], ["Romanian", "Română", "ro"], ["Russian", "русский", "ru"], ["Samoan", "Samoa", "sm"], ["Scottish Gaelic", "Gàidhlig na h-Alba", "gd"], ["Serbian", "Српски", "sr"], ["Sesotho", "Sesotho", "st"], ["Shona", "Shona", "sn"], ["Sindhi", "سنڌي", "sd"], ["Sinhala", "සිංහල", "si"], ["Slovak", "slovenský", "sk"], ["Slovenian", "slovenski", "sl"], ["Somali", "Soomaali", "so"], ["Spanish", "Español", "es"], ["Sundanese", "Sunda", "su"], ["Swahili", "Kiswahili", "sw"], ["Swedish", "svenska", "sv"], ["Tajik", "Тоҷикистон", "tg"], ["Tamil", "தமிழ்", "ta"], ["Telugu", "తెలుగు", "te"], ["Thai", "ไทย", "th"], ["Turkish", "Türk", "tr"], ["Ukrainian", "український", "uk"], ["Urdu", "اردو", "ur"], ["Uzbek", "O'zbekiston", "uz"], ["Vietnamese", "Tiếng Việt", "vi"], ["Welsh", "Cymraeg", "cy"], ["Western Frisian", "Western Frysk", "fy"], ["Xhosa", "isiXhosa", "xh"], ["Yiddish", "ייִדיש", "yi"], ["Yoruba", "yorùbá", "yo"], ["Zulu", "Zulu", "zu"]],
        "advancedOptions": {
          "addMethod": "append",
          // PREPEND OR APPEND THE TRANSLATE ELEMENT
          "dropdownHandleText": "Translate",
          // ONLY FOR FRAMESET AND API VERSIONS AND NOT USING A CUSTOM ELEMENT
          "customElement": {
            // ONLY FOR FRAMESET AND API VERSIONS
            "useCustomElement": false,
            "translateItemsList": true,
            // true = THE TRANSLATE ITEMS WILL BE AN UNORDERED LIST, false = THE TRANSLATE ITEMS WILL JUST BE A COLLECTION OF <a> TAGS
            "customElementMarkup": "" // CUSTOM HTML MARKUP THAT MAKES THE CUSTOM TRANSLATE ELEMENT/STRUCTURE - USE [$CreativeTranslateListItems$] ACTIVE BLOCK IN THE MARKUP WHERE THE TRANSLATE ITEMS SHOULD BE ADDED

          },
          "apiKey": "",
          // ONLY FOR API VERSION
          "brandedLayout": 1,
          // 1 = VERTICAL (TEXT UNDER SELECT), 2 = HORIZONTAL (TEXT BESIDE SELECT), 3 = NON-RESPONSIVE MEGA DROPDOWN
          "removeBrandedDefaultStyling": false // 1 = VERTICAL (TEXT UNDER SELECT), 2 = HORIZONTAL (TEXT BESIDE SELECT), 3 = NON-RESPONSIVE MEGA DROPDOWN

        },
        "translateLoaded": function translateLoaded() {}
      }); // BIND DROPDOWN EVENTS

      this.DropdownActions({
        "dropdownParent": ".cs-mystart-dropdown.translate",
        "dropdownSelector": ".cs-dropdown-selector",
        "dropdown": ".cs-dropdown",
        "dropdownList": ".cs-dropdown-list"
      });
    }
  },
  "DropdownActions": function DropdownActions(params) {
    // FOR SCOPE
    var template = this;
    var dropdownParent = params.dropdownParent;
    var dropdownSelector = params.dropdownSelector;
    var dropdown = params.dropdown;
    var dropdownList = params.dropdownList;
    $(dropdownParent + " " + dropdownList + " a").attr("tabindex", "-1"); // MYSTART DROPDOWN SELECTOR CLICK EVENT

    $(dropdownParent).on("click", dropdownSelector, function (e) {
      e.preventDefault();

      if ($(this).parent().hasClass("open")) {
        $("+ " + dropdownList + " a").attr("tabindex", "-1");
        $(this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
      } else {
        $(this).attr("aria-expanded", "true").parent().addClass("open").find(dropdown).attr("aria-hidden", "false").slideDown(300, "swing");
      }
    }); // MYSTART DROPDOWN SELECTOR KEYDOWN EVENTS

    $(dropdownParent).on("keydown", dropdownSelector, function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        // CONSUME LEFT AND UP ARROWS
        case template.KeyCodes.enter:
        case template.KeyCodes.space:
          e.preventDefault(); // IF THE DROPDOWN IS OPEN, CLOSE IT

          if ($(dropdownParent).hasClass("open")) {
            $("+ " + dropdown + " " + dropdownList + " a").attr("tabindex", "-1");
            $(this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
          } else {
            $(this).attr("aria-expanded", "true").parent().addClass("open").find(dropdown).attr("aria-hidden", "false").slideDown(300, "swing", function () {
              $(dropdownList + " li:first-child a", this).attr("tabindex", "0").focus();
            });
          }

          break;
        // CONSUME TAB KEY

        case template.KeyCodes.tab:
          if ($("+ " + dropdown + " " + dropdownList + " a").length) {
            $("+ " + dropdown + " " + dropdownList + " a").attr("tabindex", "-1");
            $(this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
          }

          break;
        // CONSUME LEFT AND UP ARROWS

        case template.KeyCodes.down:
        case template.KeyCodes.right:
          e.preventDefault();
          $("+ " + dropdown + " " + dropdownList + " a").attr("tabindex", "-1");
          $("+ " + dropdown + " " + dropdownList + " li:first-child > a", this).attr("tabindex", "0").focus();
          break;
      }
    }); // MYSTART DROPDOWN LINK KEYDOWN EVENTS

    $(dropdownParent).on("keydown", dropdownList + " li a", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        // CONSUME LEFT AND UP ARROWS
        case template.KeyCodes.left:
        case template.KeyCodes.up:
          e.preventDefault(); // IS FIRST ITEM

          if ($(this).parent().is(":first-child")) {
            // FOCUS DROPDOWN BUTTON
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).closest(dropdownParent).find(dropdownSelector).focus();
          } else {
            // FOCUS PREVIOUS ITEM
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).parent().prev("li").find("> a").attr("tabindex", "0").focus();
          }

          break;
        // CONSUME RIGHT AND DOWN ARROWS

        case template.KeyCodes.right:
        case template.KeyCodes.down:
          e.preventDefault(); // IS LAST ITEM

          if ($(this).parent().is(":last-child")) {
            // FOCUS FIRST ITEM
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).closest(dropdownList).find("li:first-child > a").attr("tabindex", "0").focus();
          } else {
            // FOCUS NEXT ITEM
            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).parent().next("li").find("> a").attr("tabindex", "0").focus();
          }

          break;
        // CONSUME TAB KEY

        case template.KeyCodes.tab:
          if (e.shiftKey) {
            e.preventDefault(); // FOCUS DROPDOWN BUTTON

            $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
            $(this).closest(dropdownParent).find(dropdownSelector).focus();
          }

          break;
        // CONSUME HOME KEY

        case template.KeyCodes.home:
          e.preventDefault(); // FOCUS FIRST ITEM

          $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
          $(this).closest(dropdownList).find("li:first-child > a").attr("tabindex", "0").focus();
          break;
        // CONSUME END KEY

        case template.KeyCodes.end:
          e.preventDefault(); // FOCUS LAST ITEM

          $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
          $(this).closest(dropdownList).find("li:last-child > a").attr("tabindex", "0").focus();
          break;
        // CONSUME ESC KEY

        case template.KeyCodes.esc:
          e.preventDefault(); // FOCUS DROPDOWN BUTTON AND CLOSE DROPDOWN

          $(this).closest(dropdownParent).find(dropdownSelector).focus();
          $(this).closest(dropdownList).find("a").attr("tabindex", "-1");
          $(dropdownSelector).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
          break;
      }
    });
    $(dropdownParent).mouseleave(function () {
      $(dropdownList + " a", this).attr("tabindex", "-1");
      $(dropdownSelector, this).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
    }).focusout(function () {
      var thisDropdown = this;
      setTimeout(function () {
        if (!$(thisDropdown).find(":focus").length) {
          $(dropdownSelector, thisDropdown).attr("aria-expanded", "false").parent().removeClass("open").find(dropdown).attr("aria-hidden", "true").slideUp(300, "swing");
        }
      }, 500);
    });
  },
  "Header": function Header() {
    // ADD LOGO
    var logoSrc = jQuery.trim("");
    var srcSplit = logoSrc.split("/");
    var srcSplitLen = srcSplit.length;

    if (logoSrc != "" && srcSplit[srcSplitLen - 1] != "default-man.jpg") {
      $("#gb-logo").append("<h1><a href='/[$SITEALIAS$]'><img src='" + logoSrc + "' alt='[$SiteName$]' /></a></h1>").removeClass("hidden");
    } else {
      $("#gb-logo").append("<h1><a href='/[$SITEALIAS$]'><img width='324' height='116' src='src/template/assets/defaults/iasa-default-logo.svg' alt='[$SiteName$]' /></a></h1>").removeClass("hidden");
    }
  },
  "ChannelBar": function ChannelBar() {
    $(".sw-channel-item").off('hover');
    $(".sw-channel-item").hover(function () {
      $(".sw-channel-item ul").stop(true, true);
      var subList = $(this).children('ul');

      if ($.trim(subList.html()) !== "") {
        subList.slideDown(300, "swing");
      }

      $(this).addClass("hover");
    }, function () {
      $(".sw-channel-dropdown").slideUp(300, "swing");
      $(this).removeClass("hover");
    });
  },
  "StickyChannelBar": function StickyChannelBar() {
    var navHeight = $(".header-row.one").outerHeight();

    if (true) {
      $("#gb-header").css("padding-top", navHeight + 28);
    } else {}

    $(document).scroll(function () {
      distanceFromTop = $(this).scrollTop();

      if ($(".sp").length && $(".ui-widget.app.calendar").length) {
        if ($(".wcm-controls").hasClass("wcm-stuck")) {
          $(".wcm-controls").css("margin-top", navHeight);
        }
      }

      $("#sw-maincontent").css({
        "display": "block",
        "position": "relative",
        "top": "-" + navHeight + "px"
      });
    });
  },
  "Body": function Body() {
    // FOR SCOPE
    var _this = this; // AUTO FOCUS SIGN IN FIELD


    $("#swsignin-txt-username").focus(); // APPLY RESPONSIVE DIMENSIONS TO CONTENT IMAGES

    $(".ui-widget.app .ui-widget-detail img").not($(".ui-widget.app.multimedia-gallery .ui-widget-detail img")).each(function () {
      if ($(this).attr('width') !== undefined && $(this).attr('height') !== undefined) {
        // IMAGE HAS INLINE DIMENSIONS
        $(this).css({
          "display": "inline-block",
          "width": "100%",
          "max-width": $(this).attr("width") + "px",
          "height": "auto",
          "max-height": $(this).attr("height") + "px"
        });
      }
    }); // ADJUST FIRST BREADCRUMB

    $("li.ui-breadcrumb-first > a > span").text("Home").show(); // CHECK PAGELIST HEADER

    if ($.trim($(".ui-widget.app.pagenavigation .ui-widget-header").text()) == "") {
      $(".ui-widget.app.pagenavigation .ui-widget-header").html("<h1>[$ChannelName$]</h1>");
    }
  },
  "Homepage": function Homepage() {
    // FOR SCOPE
    var _this = this;

    $(".hp-row.three .ui-widget.app.upcomingevents").csArticleSlider({
      "viewerNum": [5, 2, 2, 1, 1],
      // NUMERICAL - [960 view, 768 view, 640 view, 480 view, 320 view]
      "transitionSpeed": .5,
      // SECONDS
      "slideFullView": false,
      "extend": function extend(config, element, ArticleSlider) {}
    }); //HOVER / FOCUS

    $(".upcomingevents .cs-article-viewer li").hover(function () {
      $(this).addClass("hover");
    }, function () {
      $(this).removeClass("hover");
    });
    $(".upcomingevents .cs-article-viewer li a").focus(function () {
      $(this).closest("li").addClass("hover");
    });
    $(".upcomingevents .cs-article-viewer li a").focusout(function () {
      $(this).closest("li").removeClass("hover");
    }); //MOVE VIEW CALENDAR LINK

    $(".hp-row.three .upcomingevents").each(function () {
      if ($(this).find(".view-calendar-link").length > 0) {
        $(this).find(".view-calendar-link").appendTo($(this).find(".ui-widget-header"));
        $(this).find(".cs-article-slider-control").appendTo($(this).find(".ui-widget-header")).wrapAll("<div class='cs-article-slider-control-wrapper'></div>");
      }
    }); //COLLAGE
    // COLUMN ONE IMAGE

    var imgSrc = jQuery.trim("");
    var imgSplit = imgSrc.split("/");
    var imgSplitLen = imgSplit.length;

    if (imgSrc != "" && imgSplit[imgSplitLen - 1] != "default-man.jpg") {
      $(".collage-column.one").css("background-image", "url('" + imgSrc + "')");
    } else {
      $(".collage-column.one").css("background-image", "url('src/template/assets/defaults/collage-column1-default.jpg')");
    } // COLUMN ONE LOGO


    var showCollageLogo = true;

    if (showCollageLogo) {
      var logoImgSrc = jQuery.trim("");
      var logoImgSplit = logoImgSrc.split("/");
      var logoImgSplitLen = logoImgSplit.length;

      if (logoImgSrc != "" && logoImgSplit[logoImgSplitLen - 1] != "default-man.jpg") {
        $("#collage-logo").html("<img src='" + logoSrc + "' alt='[$SiteName$] Logo' />");
      } else {
        $("#collage-logo").html("<img width='290' height='89' src='src/template/assets/defaults/collage-default-logo.svg' alt='[$SiteName$] Logo' />");
      }
    } // LINK ONE IMAGE


    var link1ImgSrc = jQuery.trim("");
    var link1ImgSplit = link1ImgSrc.split("/");
    var link1ImgSplitLen = link1ImgSplit.length;

    if (link1ImgSrc != "" && link1ImgSplit[link1ImgSplitLen - 1] != "default-man.jpg") {
      $(".collage-link.one").css("background-image", "url('" + link1ImgSrc + "')");
    } else {
      $(".collage-link.one").css("background-image", "url('src/template/assets/defaults/collage-link1-default.jpg')");
    } // LINK TWO IMAGE


    var link2ImgSrc = jQuery.trim("");
    var link2ImgSplit = link2ImgSrc.split("/");
    var link2ImgSplitLen = link2ImgSplit.length;

    if (link2ImgSrc != "" && link2ImgSplit[link2ImgSplitLen - 1] != "default-man.jpg") {
      $(".collage-link.two").css("background-image", "url('" + link2ImgSrc + "')");
    } else {
      $(".collage-link.two").css("background-image", "url('src/template/assets/defaults/collage-link2-default.jpg')");
    } // LINK THREE IMAGE


    var link3ImgSrc = jQuery.trim("");
    var link3ImgSplit = link3ImgSrc.split("/");
    var link3ImgSplitLen = link3ImgSplit.length;

    if (link3ImgSrc != "" && link3ImgSplit[link3ImgSplitLen - 1] != "default-man.jpg") {
      $(".collage-link.three").css("background-image", "url('" + link3ImgSrc + "')");
    } else {
      $(".collage-link.three").css("background-image", "url('src/template/assets/defaults/collage-link3-default.jpg')");
    }
  },
  "Footer": function Footer() {
    // FOR SCOPE
    var _this = this; // MOVE Bb FOOTER STUFF


    $(".gb-bb-footer.logo").html($("#sw-footer-logo").html());
    var schoolwiresLinks = '';
    schoolwiresLinks += '<li>' + $.trim($("#sw-footer-links li:eq(0)").html().replace("|", "")) + '</li>';
    schoolwiresLinks += '<li>' + $.trim($("#sw-footer-links li:eq(2)").html().replace("|", "")) + '</li>';
    schoolwiresLinks += '<li>' + $.trim($("#sw-footer-links li:eq(1)").html().replace("|", "")) + '</li>';
    $(".gb-bb-footer.links").append('<ul>' + schoolwiresLinks + '</ul>');
    $(".gb-bb-footer.copyright").append($("#sw-footer-copyright").html()); //BACK TO TOP

    $(".to-top").on("click keydown", function (e) {
      if (_this.AllyClick(e)) {
        e.preventDefault();
        $("html, body").animate({
          scrollTop: 0
        }, "slow", function () {
          if (_this.GetBreakPoint() != "desktop") {
            $("#rs-menu-btn").focus();
          } else {
            $("li.sw-channel-item:first-child > a").focus();
          }
        });
      }
    });
  },
  "QuickFind": function QuickFind() {
    // FOR SCOPE
    var _this = this; //OPENING QUICKFIND


    $(".cs-mystart-button.quickfind .cs-button-selector").on('click keydown', function (event) {
      if (_this.AllyClick(event) === true) {
        //DONT LET THE PAGE JUMP ON KEYPRESS
        event.preventDefault();
        openQF();
      }
    }); //CLOSING QUICK FIND

    $(".cs-mystart-button.quickfind-close .cs-button-selector").on('click keydown', function (event) {
      if (_this.AllyClick(event) === true) {
        //DONT LET THE PAGE JUMP ON KEYPRESS
        event.preventDefault();
        closeQF();
      }
    });

    function openQF() {
      $(".cs-mystart-button .cs-button-selector").attr("aria-expanded", "true").parent().addClass("open");
      $("#quickfind").fadeIn().addClass("open").attr("aria-hidden", "false");
      $("#gb-page").addClass("open-qf");
      $("#quickfind-items .cs-global-icons li:first-child > a").focus();
    }

    function closeQF() {
      $("#quickfind").fadeOut().removeClass("open").attr("aria-hidden", "true");
      $("#gb-page").removeClass("open-qf");
      $(".cs-mystart-button .cs-button-selector").attr("aria-expanded", "false").parent().removeClass("open");
      $(".cs-mystart-button.quickfind .cs-button-selector").focus();
    } //CLOSE IF NO FOCUS


    $("#quickfind a, .cs-mystart-button.quickfind-close .cs-button-selector").focusout(function () {
      setTimeout(function () {
        if (!$("#quickfind").find(":focus").length) {
          closeQF();
        }
      }, 200);
    }); //SB KEYBOARD NAV

    $("#quickfind .cs-global-icons li:last-child > a").on("keydown", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        case _this.KeyCodes.tab:
          if (!e.shiftKey) {
            e.preventDefault();
            $(".cs-mystart-button.quickfind-close .cs-button-selector").focus();
          }

          break;
      }
    });
    $("#quickfind .cs-global-icons li:first-child > a").on("keydown", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        case _this.KeyCodes.tab:
          if (e.shiftKey) {
            e.preventDefault();
            $(".cs-mystart-button.quickfind-close .cs-button-selector").focus();
          }

          break;
      }
    });
    $("#quickfind .cs-global-icons li > a").on("keydown", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        case _this.KeyCodes.esc:
          closeQF();
          break;
      }
    });
    $(".cs-mystart-button.quickfind-close .cs-button-selector").on("keydown", function (e) {
      // CAPTURE KEY CODE
      switch (e.keyCode) {
        case _this.KeyCodes.tab:
          if (!e.shiftKey) {
            e.preventDefault();
            $("#quickfind .cs-global-icons li:first-child > a").focus();
          } else {
            e.preventDefault();
            $("#quickfind .cs-global-icons li:last-child > a").focus();
          }

          break;

        case _this.KeyCodes.esc:
          closeQF();
          break;
      }
    });
  },
  "Slideshow": function Slideshow() {
    // FOR SCOPE
    var _this = this;

    if ($("#sw-content-container10 .ui-widget.app.multimedia-gallery").length) {
      this.MMGPlugin();
    }
  },
  "MMGPlugin": function MMGPlugin() {
    // FOR SCOPE
    var _this = this;

    var mmg = eval("multimediaGallery" + $("#sw-content-container10 .ui-widget.app.multimedia-gallery:first").attr("data-pmi"));
    mmg.props.defaultGallery = false;
    $("#sw-content-container10 .ui-widget.app.multimedia-gallery:first").csMultimediaGallery({
      "efficientLoad": true,
      "imageWidth": 1500,
      "imageHeight": 520,
      "mobileDescriptionContainer": [960, 768, 640, 480, 320],
      // [960, 768, 640, 480, 320]
      "galleryOverlay": false,
      "linkedElement": [],
      // ["image", "title", "overlay"]
      "playPauseControl": true,
      "backNextControls": true,
      "bullets": false,
      "thumbnails": false,
      "thumbnailViewerNum": [3, 4, 3, 3, 2],
      // NUMERICAL - [960 view, 768 view, 640 view, 480 view, 320 view]
      "autoRotate": true,
      "hoverPause": true,
      "transitionType": "fade",
      "transitionSpeed": 2,
      "transitionDelay": 6,
      "fullScreenRotator": false,
      "fullScreenBreakpoints": [960],
      // NUMERICAL - [960, 768, 640, 480, 320]
      "onImageLoad": function onImageLoad(props) {},
      // props.element, props.recordIndex, props.mmgRecords
      "allImagesLoaded": function allImagesLoaded(props) {},
      // props.element, props.mmgRecords
      "onTransitionStart": function onTransitionStart(props) {},
      "onTransitionEnd": function onTransitionEnd(props) {},
      // props.element, props.currentRecordIndex, props.currentGalleryIndex, props.mmgRecords
      "allLoaded": function allLoaded(props) {
        //WRAP CONTROLS
        $(".mmg-control", props.element).wrapAll("<div class='cs-mmg-control-wrapper'></div>");
        $(".mmg-control.play-pause", props.element).insertAfter(".mmg-control.back", props.element);
      },
      // props.element, props.mmgRecords
      "onWindowResize": function onWindowResize(props) {} // props.element, props.mmgRecords

    });
  },
  "ModEvents": function ModEvents() {
    // FOR SCOPE
    var template = this;
    $(".ui-widget.app.upcomingevents").modEvents({
      columns: "yes",
      monthLong: "no",
      dayWeek: "yes"
    });
    eventsByDay(".upcomingevents .ui-articles");

    function eventsByDay(container) {
      $(".ui-article", container).each(function () {
        if (!$(this).find("h1.ui-article-title.sw-calendar-block-date").size()) {
          var moveArticle = $(this).html();
          $(this).parent().prev().children().children().next().append(moveArticle);
          $(this).parent().remove();
        }

        ;
      });
      $(".ui-article", container).each(function () {
        var newDateTime = $('.upcoming-column.left h1', this).html().toLowerCase().split("</span>");
        var newDate = '';
        var dateIndex = newDateTime.length > 2 ? 2 : 1; //if the dayWeek is set to yes we need to account for that in our array indexing
        //if we have the day of the week make sure to include it.

        if (dateIndex > 1) {
          newDate += newDateTime[0] + "</span>";
        } //add in the month


        newDate += newDateTime[dateIndex - 1] + '</span>'; //the month is always the in the left array position to the date
        //wrap the date in a new tag

        newDate += '<span class="jeremy-date">' + newDateTime[dateIndex] + '</span>'; //append the date and month back into their columns

        $('.upcoming-column.left h1', this).html(newDate); //add an ALL DAY label if no time was given

        $('.upcoming-column.right .ui-article-description', this).each(function () {
          if ($('.sw-calendar-block-time', this).length < 1) {
            //if it doesnt exist add it
            $(this).prepend('<span class="sw-calendar-block-time">ALL DAY</span>');
          }

          $(".sw-calendar-block-time", this).appendTo($(this));
        }); //WRAP DATE AND MONTH IN A CONTAINER

        $(".joel-month, .joel-day", this).wrapAll("<span class='adam-hug'></span>"); //ABBREVIATE DAY

        var origDay = $.trim($(this).find(".joel-day").text());
        var shortDay = origDay.substring(0, 3);
        $(this).find(".joel-day").text(shortDay + " / ");
      });
    } //ADD NO EVENTS TEXT


    $(".upcomingevents").each(function () {
      if (!$(this).find(".ui-article").length) {
        $("<li><p>There are no upcoming events to display.</p></l1>").appendTo($(this).find(".ui-articles"));
      }
    });
  },
  "GlobalIcons": function GlobalIcons() {
    $("#gb-icons .content-wrap").creativeIcons({
      "iconNum": "5",
      "defaultIconSrc": "",
      "icons": [{
        "image": "Site Utility/30.png",
        "showText": true,
        "text": "IASA Illinois Education Job Bank",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Classroom/72.png",
        "showText": true,
        "text": "Professional Development Opportunities",
        "url": "#",
        "target": "_self"
      }, {
        "image": "People/49.png",
        "showText": true,
        "text": "Sponsored Programs",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Communication/26.png",
        "showText": true,
        "text": "Corporate Partners",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Classroom/81.png",
        "showText": true,
        "text": "SB 7 Performance Ranking File Tool",
        "url": "#",
        "target": "_self"
      }],
      "siteID": "[$SiteID$]",
      "siteAlias": "[$SiteAlias$]",
      "calendarLink": "[$SiteCalendarLink$]",
      "contactEmail": "[$SiteContactEmail$]",
      "allLoaded": function allLoaded() {}
    });
    $("#quickfind-items").creativeIcons({
      "iconNum": "10",
      "defaultIconSrc": "",
      "icons": [{
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 1",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 2",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 3",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 4",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 5",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 6",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 7",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 8",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 9",
        "url": "#",
        "target": "_self"
      }, {
        "image": "Student Program/19.png",
        "showText": true,
        "text": "Icon 10",
        "url": "#",
        "target": "_self"
      }],
      "siteID": "[$SiteID$]",
      "siteAlias": "[$SiteAlias$]",
      "calendarLink": "[$SiteCalendarLink$]",
      "contactEmail": "[$SiteContactEmail$]",
      "allLoaded": function allLoaded() {}
    });
  },
  "SocialIcons": function SocialIcons() {
    var socialIcons = [{
      "show": true,
      "label": "Facebook",
      "class": "facebook",
      "url": "#",
      "target": "_blank"
    }, {
      "show": true,
      "label": "Twitter",
      "class": "twitter",
      "url": "#",
      "target": "_blank"
    }];
    var icons = '';
    $.each(socialIcons, function (index, icon) {
      if (icon.show) {
        icons += '<a class="gb-social-media-icon ' + icon.class + ' district" href="' + icon.url + '" target="' + icon.target + '" aria-label="' + icon.label + '"></a>';
      }
    });

    if (icons.length) {
      $("#gb-social").prepend(icons);
    }
  },
  "RsMenu": function RsMenu() {
    // FOR SCOPE
    var _this = this;

    $.csRsMenu({
      "breakPoint": 768,
      // SYSTEM BREAK POINTS - 768, 640, 480, 320
      "slideDirection": "left-to-right",
      // OPTIONS - left-to-right, right-to-left
      "menuButtonParent": ".header-row.one",
      "menuBtnText": "Menu",
      "colors": {
        "pageOverlay": "",
        // DEFAULT #000000
        "menuBackground": "",
        // DEFAULT #FFFFFF
        "menuText": "",
        // DEFAULT #333333
        "menuTextAccent": "",
        // DEFAULT #333333
        "dividerLines": "",
        // DEFAULT #E6E6E6
        "buttonBackground": "",
        // DEFAULT #E6E6E6
        "buttonText": "" // DEFAULT #333333

      },
      "showDistrictHome": false,
      "districtHomeText": "District",
      "showSchools": false,
      "schoolMenuText": "Schools",
      "showTranslate": true,
      "translateMenuText": "Translate",
      "translateVersion": 2,
      // 1 = FRAMESET, 2 = BRANDED
      "translateId": "",
      "translateLanguages": [// ["ENGLISH LANGUAGE NAME", "TRANSLATED LANGUAGE NAME", "LANGUAGE CODE"]
      ["Afrikaans", "Afrikaans", "af"], ["Albanian", "shqiptar", "sq"], ["Amharic", "አማርኛ", "am"], ["Arabic", "العربية", "ar"], ["Armenian", "հայերեն", "hy"], ["Azerbaijani", "Azərbaycan", "az"], ["Basque", "Euskal", "eu"], ["Belarusian", "Беларуская", "be"], ["Bengali", "বাঙালি", "bn"], ["Bosnian", "bosanski", "bs"], ["Bulgarian", "български", "bg"], ["Burmese", "မြန်မာ", "my"], ["Catalan", "català", "ca"], ["Cebuano", "Cebuano", "ceb"], ["Chichewa", "Chichewa", "ny"], ["Chinese Simplified", "简体中文", "zh-CN"], ["Chinese Traditional", "中國傳統的", "zh-TW"], ["Corsican", "Corsu", "co"], ["Croatian", "hrvatski", "hr"], ["Czech", "čeština", "cs"], ["Danish", "dansk", "da"], ["Dutch", "Nederlands", "nl"], ["Esperanto", "esperanto", "eo"], ["Estonian", "eesti", "et"], ["Filipino", "Pilipino", "tl"], ["Finnish", "suomalainen", "fi"], ["French", "français", "fr"], ["Galician", "galego", "gl"], ["Georgian", "ქართული", "ka"], ["German", "Deutsche", "de"], ["Greek", "ελληνικά", "el"], ["Gujarati", "ગુજરાતી", "gu"], ["Haitian Creole", "kreyòl ayisyen", "ht"], ["Hausa", "Hausa", "ha"], ["Hawaiian", "ʻŌlelo Hawaiʻi", "haw"], ["Hebrew", "עִברִית", "iw"], ["Hindi", "हिंदी", "hi"], ["Hmong", "Hmong", "hmn"], ["Hungarian", "Magyar", "hu"], ["Icelandic", "Íslenska", "is"], ["Igbo", "Igbo", "ig"], ["Indonesian", "bahasa Indonesia", "id"], ["Irish", "Gaeilge", "ga"], ["Italian", "italiano", "it"], ["Japanese", "日本語", "ja"], ["Javanese", "Jawa", "jw"], ["Kannada", "ಕನ್ನಡ", "kn"], ["Kazakh", "Қазақ", "kk"], ["Khmer", "ភាសាខ្មែរ", "km"], ["Korean", "한국어", "ko"], ["Kurdish", "Kurdî", "ku"], ["Kyrgyz", "Кыргызча", "ky"], ["Lao", "ລາວ", "lo"], ["Latin", "Latinae", "la"], ["Latvian", "Latvijas", "lv"], ["Lithuanian", "Lietuvos", "lt"], ["Luxembourgish", "lëtzebuergesch", "lb"], ["Macedonian", "Македонски", "mk"], ["Malagasy", "Malagasy", "mg"], ["Malay", "Malay", "ms"], ["Malayalam", "മലയാളം", "ml"], ["Maltese", "Malti", "mt"], ["Maori", "Maori", "mi"], ["Marathi", "मराठी", "mr"], ["Mongolian", "Монгол", "mn"], ["Myanmar", "မြန်မာ", "my"], ["Nepali", "नेपाली", "ne"], ["Norwegian", "norsk", "no"], ["Nyanja", "madambwe", "ny"], ["Pashto", "پښتو", "ps"], ["Persian", "فارسی", "fa"], ["Polish", "Polskie", "pl"], ["Portuguese", "português", "pt"], ["Punjabi", "ਪੰਜਾਬੀ ਦੇ", "pa"], ["Romanian", "Română", "ro"], ["Russian", "русский", "ru"], ["Samoan", "Samoa", "sm"], ["Scottish Gaelic", "Gàidhlig na h-Alba", "gd"], ["Serbian", "Српски", "sr"], ["Sesotho", "Sesotho", "st"], ["Shona", "Shona", "sn"], ["Sindhi", "سنڌي", "sd"], ["Sinhala", "සිංහල", "si"], ["Slovak", "slovenský", "sk"], ["Slovenian", "slovenski", "sl"], ["Somali", "Soomaali", "so"], ["Spanish", "Español", "es"], ["Sundanese", "Sunda", "su"], ["Swahili", "Kiswahili", "sw"], ["Swedish", "svenska", "sv"], ["Tajik", "Тоҷикистон", "tg"], ["Tamil", "தமிழ்", "ta"], ["Telugu", "తెలుగు", "te"], ["Thai", "ไทย", "th"], ["Turkish", "Türk", "tr"], ["Ukrainian", "український", "uk"], ["Urdu", "اردو", "ur"], ["Uzbek", "O'zbekiston", "uz"], ["Vietnamese", "Tiếng Việt", "vi"], ["Welsh", "Cymraeg", "cy"], ["Western Frisian", "Western Frysk", "fy"], ["Xhosa", "isiXhosa", "xh"], ["Yiddish", "ייִדיש", "yi"], ["Yoruba", "yorùbá", "yo"], ["Zulu", "Zulu", "zu"]],
      "showAccount": true,
      "accountMenuText": "User Options",
      "usePageListNavigation": false,
      "extraMenuOptions": {},
      "siteID": "[$siteID$]",
      "allLoaded": function allLoaded() {}
    });
  },
  "AppAccordion": function AppAccordion() {
    $(".sp-column.one").csAppAccordion({
      "accordionBreakpoints": [768, 640, 480, 320]
    });
  },
  "AllyClick": function AllyClick(event) {
    if (event.type == "click") {
      return true;
    } else if (event.type == "keydown") {
      if (event.keyCode == this.KeyCodes.space || event.keyCode == this.KeyCodes.enter) {
        return true;
      }
    } else {
      return false;
    }
  },
  "GetBreakPoint": function GetBreakPoint() {
    return window.getComputedStyle(document.querySelector("body"), ":before").getPropertyValue("content").replace(/"|'/g, "");
    /*"*/
  }
};
/******/ })()
;</script>