@import "../../../utilities/css/utilities";

/* GroupBegin Global */
.cs-template--show-480 {
	display: block;
}
.cs-template--hide-480 {
	display: none;
}
/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Mystart */

/* GroupEnd */ 

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Channel Bar */
 
/* GroupEnd */

/* GroupBegin Photo Area */

/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */
.cs-template__branded-footer-links-list-item:last-child:before {
	display: none;
}
.cs-template__branded-footer-links-list-item:last-child {
	display: block;
    margin-top: 4px;
}
/* GroupEnd */

/* GroupBegin App Styles */

/* GroupEnd */

/* GroupBegin Homepage Specific */

/* GroupEnd */

/* GroupBegin Subpage Specific */
.cs-template__subpage-column.cs-template--column-one,
.cs-template__subpage-column.cs-template--column-two {
	width: auto;
	float: none;
}
/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */

/* GroupEnd */