@import "../../../utilities/css/utilities";

$accentFont: Fjalla One, sans-serif;
$bodyFont: Inter, sans-serif;
$blue: #0C233F;
$gold: #F9A11B;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:1192px;
	padding:0px 30px;
	margin: 0 auto;
	position: relative;
}
@mixin full-width-content-wrap {
	padding:0px 30px;
	max-width: none;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "768";
}
.cs-mystart-button,
.cs-mystart-dropdown,
#gb-channel-bar {
	display: none;
}
.cs-mystart-dropdown.user-options.mobile {
	display: block;
	position: relative;
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float:left;
}
.region.clearleft {
	clear: none;
}
.cs-global-icons {
	flex-wrap: wrap;
	justify-content: center;

	li {
		width:33.3333%;
		display: block;
		margin-bottom: 18px;
	}
	a {
		display: block;
		text-align: center;
	}
	.text {
		text-align: center;
		padding: 5px 10px;
	}
	.icon {
		min-height: 70px;
		margin-bottom: 10px;
	}
}
/* GroupEnd */

/* GroupBegin Header */
#rs-menu-btn {
	color:#fff;
	height:70px;
	width:119px;
	float: none;
	display: flex;
	align-items: center;
	font-size: 1.13rem;

	&::before {
		position: absolute;
		padding: 0;
		right:8px;
		top:26px;
		font-size: 21px;
		background:transparent;
		@include template-icon;
		content:icon('e906');
	}
}
/* GroupEnd */

/* GroupBegin Footer */
.footer-row {
	&.one {
		.content-wrap {
			flex-wrap: wrap;

			.footer-column {
				width: 50%;
				text-align: center;
				padding: 50px 30px 20px 30px;

				&.one {
					width:100%;
				}
				&.two::before {
					display: none;
				}
				&.two,
				&.three {
					padding-top: 0;
					padding-bottom: 38px;
				}
				&.three::before {
					bottom: auto;
					top:16px;
				}
				&.four {
					display: none;
				}
			}
		}
	}
	&.two {
		padding-bottom: 52px;

		.content-wrap {
			flex-direction: column-reverse;
			padding-bottom: 14px;
		}
		.footer-column {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.footer-button {
			margin: 0 5px;
		}
		&::before {
			left: 50px;
			width: calc(100% - 100px);
		}
		.footer-links {
			justify-content: center;
		}
		.footer-link {
			margin:0 10px;
		}
		#gb-social {
			margin:5px 0 0;
		}
	}
	&.three {
		.content-wrap {
			flex-direction: column-reverse;
		}
		.footer-column {
			&.one {
				padding: 33px 0 4px;
			}
			&.two {
				padding: 0;
				&::before {
					display: none;
				}
			}
		}
		.gb-bb-footer.links ul {
			flex-wrap: wrap;

			li:nth-child(2) a::after {
				display: none;
			}
			li:last-child {
				margin-top: -9px;
				width:100%;
			}
		}
		.gb-bb-footer.logo {
			margin-left: 0;
		}
		#gb-bb-footer {
			max-width: 413px;
		}
	}
}
/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
#hp-slideshow-outer {
	overflow: visible;
}
#hp-slideshow-outer #hp-slideshow {
	.cs-mmg-control-wrapper {
		display: flex;
		position: absolute;
		bottom: -24px;
		right: 40px;

		.mmg-control {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
			margin:0 6px;

			&.next {
				right:auto;
			}
		}
	}
}
.hp-row.three {
	padding-bottom: 50px;

	.content-wrap {
		padding:0px 48px;
	}
	.upcomingevents {
		display: block;

		div.ui-widget-header {
			padding: 0px 0px 8px 0px;

			.view-calendar-link {
				margin-top: 20px;
			}
		}
		.cs-article-slider-control-wrapper {
			flex-direction: row;
			top: auto;
		    bottom: 11px;
		    height: auto;
			right:-4px;
		}
	}
	.cs-article-slider {
		margin:0 -12px;
	}
	#sw-content-container1 .app .cs-article-slider-control {
		margin: 0px 6px;
	}
}
.hp-row.four {
	.column-wrap {
		flex-direction: column;
		box-shadow: 0px 3px 6px #00000029;
		border: 1px solid #E5E5E5;
		border-radius: 3px;
		padding:47px 50px;
		background:#fff;

		.hp-column {
			width:100%;
			margin:0;
			border:0;
			box-shadow: none;
			padding: 0;

		}
	}
}
.hp-row.five {
	padding-bottom: 0;

	.content-wrap {
		padding: 0;
	}
	.column-wrap {
		flex-direction: column;
	}
	.collage-column {
		&.one {
			width:100%;
			padding: 46px 47px 26px;

			h2 {
				font-size: 2.4rem;
			}
			p {
				font-size: 1.6rem;
				line-height: 1.5;
				margin-bottom: 36px;
			}
		}
		#collage-logo {
			padding-top: 0px;
			margin-right: -27px;
			margin-top: -17px;

			img {
				width:160px !important;
				height:auto !important;
			}
		}
		&.two {
			width:100%;
			margin:0;
			flex-direction: row;

			a {
				height: auto;
				font-size: 1.66rem;
				width: 0;
				flex-grow:1;
				padding:28px;
				min-height: 129px;
				letter-spacing: -.3px;
				margin:0;

				span {
					padding-right: 25px;

					&::after {
						font-size: 22px;
						top: calc(50% - 12px);
					}
				}
			}
		}
	}
}
/* GroupEnd */

/* GroupBegin Subpage */
#sp-content {
	.sp-column {
		float:none;
		width:100%;
		max-width:none;

		&.one {
			padding: 40px;

			.ui-widget-header {
				position: relative;
				cursor: pointer;

				&::after {
					@include template-icon;
					content:icon("e902");
					position: absolute;
					right:0;
					top:12px;
					font-size: 18px;
					transform: rotate(180deg);
					@include transition(.4s);
				}
			}
			.open .ui-widget-header {
				&::after {
					transform: rotate(90deg);
				}
			}
		}
		&.two {
			padding: 40px 15px;

			#sw-content-layout-wrapper > div[id*="sw-content-layout"] {
				width:100%;
			}
			div.ui-widget.app {
				padding:0px 25px;
				margin-bottom: 30px;
			}
		}
	}
}
.sp-row.two .content-wrap::before {
	display: none;
}
/* GroupEnd */
